         body{
            background-color: rgb(129, 159, 189);
        }

        .name {
             font-family: 'Times New Roman', Times, serif;
             font-size: 100px;
        }
